{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>Medical</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="research.html">Research on Application of Artificial Intelligence in Medical<span class="logo_colour"> Education</span></a></h1>
          <!--<h2>Research on Application of Artificial Intelligence in Medical Education</h2>-->
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{% url 'adminbase' %}">AdminHome</a></li>
          <li><a href="{% url 'viewadmintrainerspage' %}">trdetails</a></li>
          <li><a href="{% url 'viewadminstudentpage' %}">studetails</a></li>
          <li><a href="{% url 'viewadminfilespage' %}">filedetails</a></li>
          <li><a href="{% url 'viewadmincsvpage' %}">csvdetails</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
       {% block contents %}
                <br><br><br>
               <h1 align="Center"><b>Welcome to Admin Page</h1>
         {% endblock %}
      <div id="footer">
      Copyright &copy; black_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a>
    </div>
  </div>
</body>
</html>
