{% extends 'base.html' %}

<html>

<head>
  <title>Medical</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
{% block contents %}
  <h3>Abstract</h3>
  <p>With the advancement of science and technology, the application of artificial intelligence is of great significance in
various fields, and it has been a huge driving force in the development of more and more fields.Through research on
the application of artificial intelligence in distance medical teaching, virtual inquiry, distance education management,
teaching video recording, etc., this article concludes that artificial intelligence can increase the efficiency of medical
teaching, improve visual utility, and think more like human, thus it can better serve the people. The application effects of
artificial intelligence in the field of medical education, especially for the improvement of the overall quality of
medical students, provide much inspiration for the applications of artificial intelligence in medical education.</p>
{% endblock %}
</body>
</html>
